/*-------------------PRIMARY-------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgba(26, 171, 190, 0.24); */
}

:root {
  /* Primary */

  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
  color: var(--white);
}

image {
  min-width: 100%;
}

main {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Inter", sans-serif;
}

h6 {
  font-family: "Inter", sans-serif;
  font-size: 23px;
  font-weight: 700;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

/*-------------------CARD-------------------*/

.all-card {
  max-width: 400px;
  min-width: 295px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-desaturated-blue);
  border-radius: 10px;
  text-align: center;
  margin: 0 20px;
}

.card {
  padding: 20px;
}

.image-header-mobile {
  min-width: 100%;
  min-height: 100%;
  aspect-ratio: 1.5/1;
  background-image: url("/images/image-header-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0px 0px;
}

.img-hero {
  border-radius: 10px 10px 0px 0px;
}

.card-title {
  font-weight: 700;
  margin-top: 30px;
}

.highlight {
  color: var(--soft-violet);
}

.card-p {
  margin-top: 30px;
  color: var(--slightly-transparent-white);
}

.stats-metrics {
  margin-top: 30px;
}

.stats-info {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  color: var(--slightly-transparent-white);
  letter-spacing: 0.1rem;
}

/*-------------------FOOTER-------------------*/

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
}
.attribution a {
  color: var(--soft-violet);
}

/*-------------------MEDIA QUERIES-------------------*/

/*----LARGE TABLETS & LAPTOP STYLES----*/

@media screen and (min-width: 767px) {
  .all-card {
    background-color: var(--dark-desaturated-blue);
    display: flex;
    flex-direction: row-reverse;
    max-width: 980px;
  }

  .image-header-mobile {
    display: none;
  }

  .image-header-desktop {
    width:600px;
    background-image: url(/images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 10px 10px 0px;
  }

  .card {
    /* min-width: 600px;
    max-width: 400px; */
    padding: 0px 0px 0px 0px;
  }

  .card-content{
    max-width: 600px;
    padding: 40px 0px 40px 40px;
    padd
  }

  .card-title {
    max-width: 70%;
    text-align: left;
    margin: 30px 0;
  }
  
  .card-p{
    max-width: 80%;
    text-align: left;
    margin: 30px 0;
  }

  .stats{
    display: flex;
    flex-direction: row;
    gap: 10%;
    text-align: left;
}

}
