/*-------------------PRIMARY-------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid rgba(26, 171, 190, 0.24);
  }

:root{
  /* Primary */

  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
  color: var(--white)
}

image{
    min-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
